:root {
    --accent: #91c4f6;

    --white: #ffffff;
    --black: #000000;

    --dark-text: #151515;
    --white-text: #E1E1E1;
    --dark-grey-text: #727171;

    --blue-bg: #0d4772;
    --dark-blue-bg: #0d2d4f;
    --grey-bg: rgba(255, 255, 255, .2);
    --white-bg: #f7f7f7;

    --grey-border: #b7b7b7;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    background: transparent;
    border: none;
    outline: none;
}

body {
    scroll-behavior: smooth;
}

.App {
    background: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}